<br/><br/>
<div class="row">
  <div class="col-md-5">
    <img src="<%= @current_track.icon400 %>" />
  </div>
  <div>
    <h1><%= @current_track.name %></h1>
    <h2><%= @current_track.artist %></h2>
  </div>
</div>
